# Compiled files
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
*.hcl
*.tfvars
vars.tfvars
#*.json
#*backend*
tfplan
.tmp
modulez/

# Module directory

# Other files
apply.sh
destroy.sh
clean.sh
prepare.sh
*rendered
*keys/
*test/
*credentials/
plugins/
*plugins/
*.x
*scrap*
*reference*
*artifact
*certs
*anthos-keys
backend.tf

# Skaffold
bin/
pkg/
.DS_Store
*.pyc
*.swp
*~
.vscode/
.vs/
.idea
.skaffold-*.yaml
.kubernetes-manifests-*/
_run.*
_dev.*
_delete.*
_env.txt

